@font-face{
  font-family: 'Raleway';
  src: local('Raleway'), url(./resources/fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face{
  font-family: 'Oswald';
  src: local('Oswald'), url(./resources/fonts/Oswald-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
